/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #fff;
}
/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  z-index: 2;
  width: 100%;
  background: #0A090C;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, 0)), url('images/brick-wall.svg');
  /* background-size: cover; */
  overflow: hidden;
  padding-top: 60px;
  background-color: #90DDF0;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 75px;
  /* width: 150px; */
  height: 225px;
  /* border-radius: 50%; */
  /* border: 3px solid white; */
  transition: all .5s;

  /* my additions */
  z-index: 1;
  transform: scale(1.2) rotate(5deg);
  margin-bottom: 75px;
  border-radius: 5%;
  background: rgba(255, 255, 255, .9);
  padding: 25px;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(0deg);
}
.tag {
  background-color: rgba(144, 221, 240, .9);
  color: black;
  /* padding: 10px; */
  /* border-radius: 5px; */
  /* display: table; */
  margin: 0;
  line-height: 2;
}
.location {
  background-color: #222;
  color: yellow;
}
.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #B7B5B6;
  border-right: 4px dashed #B7B5B6;
  /* border-radius: 6px; */
  transition: all .5s;
}
.bar-light-grey {
  background-color: #F0EDEE;
}
.bar-grey {
  background-color: #B7B5B6;
  color: #0A090C;
  padding: 4px;
  margin-bottom: 10px;
}
.bar-black {
  background-color: #555;
  color: #fff;
  padding: 4px;
  margin-bottom: 10px;
}
.green {
  background-color: #c9e297;
}
.brown {
  background-color: #B87C4C;
}
.yellow {
  background-color: #fff387;
}
.blue {
  background-color: #90DDF0;
}
.zero {
  background-color: #F0EDEE;
}
.twenty-five {
  width: 25%;
}
.thirty-five {
  width: 35%;
}
.sixty {
  width: 60%;
}
.seventy-five {
  width: 75%;
}
.ninety {
  width: 90%;
}
ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex;
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    /* min-height: 470px; */
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}
